<html>
<h1>Tennis Score</h1>
<form action="/jugar">
Jugador1:<input type="text" id="jugador1" name="jugador1"/>
Jugador2:<input type="text" id="jugador2" name="jugador2"/>
<input type="submit" name="jugar" value="jugar">
</form>
<br/><br/><br/>
<%=@@mensaje%>

</html>
